<div class="container">
  <div class="row vh-100 align-items-center">
      <div class="col-lg-4 offset-lg-4 col-md-8 offset-md-2 col-10 offset-1">
          <div class="rounded-4 border-0 shadow-lg bg-white" style="min-height: 450px;">
              <div class="d-flex justify-content-start align-items-center">
                  <div class="p-5 w-100">
                    <div class="mb-4 h2 text-success">
                      Reset Password
                    </div>
                    <form #resetPasswordForm="ngForm" (ngSubmit)="onResetPassword(resetPasswordForm)">
                      <input type="email" name="email" ngModel required email>
                      <button type="submit">Send Reset Link</button>
                    </form>
                  </div> 
              </div>
          </div>
      </div>
  </div>
</div>

